# Criado por https://www.toptal.com/developers/gitignore/api/pycharm,python
# Edite em https://www.toptal.com/developers/gitignore?templates=pycharm,python

### PyCharm ###
# Abrange as IDEs da JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm e Rider
# Referência: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Coisas específicas do usuário
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dicionários
.idea/**/prateleira

# Específico do usuário da AWS
.idea/**/aws.xml

# Arquivos gerados
.idea/**/contentModel.xml

# Arquivos sensíveis ou com alta rotatividade
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/bibliotecas

# Gradle e Maven com importação automática
Ao usar Gradle ou Maven com importação automática, você deve excluir os arquivos de módulo.
# pois serão recriados e podem causar instabilidade. Descomente se estiver usando
# importação automática.
# .idea/artefatos
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/módulos
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Plugin do Mongo Explorer
.idea/**/mongoSettings.xml

# Formato de projeto baseado em arquivos
*.iws

# IntelliJ
fora/

# mpelonen/sbt-idea plugin
.idea_modules/

# Plugin JIRA
atlassian-ide-plugin.xml

# Plugin Clojure Cursivo
.idea/replstate.xml

# Plugin SonarLint
.idea/sonarlint/

Plugin Crashlytics (para Android Studio e IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
propriedades do tecido

# Cliente REST baseado em editor
.idea/httpRequests

# Arquivo de cache serializado do Android Studio 3.1+
.idea/caches/build_file_checksums.ser

### Patch do PyCharm ###
# Motivo do comentário: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Plugin Sonarlint
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# Plugin SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Plugin Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/navegador-markdown/

# Bug na criação do arquivo de cache
# Veja https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# Plugin CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Plugin Azure Toolkit para IntelliJ
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

### Python ###
# Arquivos compilados em bytecode / otimizados / DLL
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.então

# Distribuição / embalagem
.Python
construir/
desenvolver-ovos/
dist/
downloads/
ovos/
.ovos/
biblioteca/
lib64/
peças/
sdist/
var/
rodas/
compartilhar/rodas-python/
*.egg-info/
.installed.cfg
*.ovo
MANIFESTO

# PyInstaller
Normalmente, esses arquivos são criados por um script Python a partir de um modelo.
# Antes que o PyInstaller construa o executável, para que a data/outras informações sejam inseridas nele.
*.manifesto
*.spec

# Registros do instalador
pip-log.txt
pip-exclua-este-diretório.txt

# Relatórios de teste unitário/cobertura
htmlcov/
.tox/
.nox/
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.cobrir
*.py,capa
.hipótese/
.pytest_cache/
cobrir/

# Traduções
*.mo
*.pot

# Coisas do Django:
*.registro
local_settings.py
db.sqlite3
db.sqlite3-journal

# Coisas do frasco:
exemplo/
.webassets-cache

# Coisas de Scrapy:
.scrapy

# Documentação do Sphinx
docs/_build/

# PyBuilder
.pybuilder/
alvo/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
perfil_padrão/
ipython_config.py

# pyenv
# Para uma biblioteca ou pacote, talvez você queira ignorar esses arquivos, pois o código é
# Projetado para ser executado em vários ambientes; caso contrário, faça o check-in:
# .python-version

# pipenv
# De acordo com pypa/pipenv#598, é recomendável incluir Pipfile.lock no controle de versão.
# No entanto, em caso de colaboração, se houver dependências específicas da plataforma ou dependências
# Por não ter suporte multiplataforma, o pipenv pode instalar dependências que não funcionam ou não funcionam.
# Instale todas as dependências necessárias.
#Pipfile.lock

# poesia
Assim como o Pipfile.lock, geralmente é recomendável incluir o poetry.lock no controle de versão.
# Isso é especialmente recomendado para pacotes binários para garantir a reprodutibilidade e é mais
# Geralmente ignorado pelas bibliotecas.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poesia.lock

# pdm
Assim como o Pipfile.lock, geralmente é recomendável incluir o pdm.lock no controle de versão.
#pdm.lock
O pdm armazena configurações de todo o projeto em .pdm.toml, mas é recomendável não incluí-lo.
# no controle de versão.
# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; usado por exemplo em github.com/David-OConnor/pyflow e github.com/pdm-project/pdm
__pypackages__/

# Coisas de aipo
cronograma de batidas de aipo
celerybeat.pid

# Arquivos analisados ​​pelo SageMath
*.sage.py

# Ambientes
.env
.venv
ambiente/
venv/
AMBIENTE/
env.bak/
venv.bak/

# Configurações do projeto Spyder
.spyderproject
.spyproject

# Configurações do projeto de corda
.projeto de corda

# Documentação mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Verificador de tipo Pyre
.pira/

# analisador de tipo estático pytype
.pytype/

# Símbolos de depuração do Cython
cython_debug/

# PyCharm
O modelo específico da JetBrains é mantido em um arquivo JetBrains.gitignore separado que pode
# Pode ser encontrado em https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# e pode ser adicionado ao .gitignore global ou mesclado a este arquivo. Para uma abordagem mais drástica.
# Opção (não recomendada): você pode descomentar a seguinte linha para ignorar toda a pasta de ideias.
#.ideia/

### Patch Python ###
# Arquivo de configuração local do Poetry - https://python-poetry.org/docs/configuration/#local-configuration
poesia.toml

# áspero
.ruff_cache/

# Arquivos de configuração LSP
pyrightconfig.json

# Fim de https://www.toptal.com/developers/gitignore/api/pycharm,python